<link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave" rel="stylesheet" />

<h1>This is my site</h1>

<h1 class="support">Another title</h1>
<h1 id="ciao" class="support extra">Last one</h1>

<p>
  Hello<b class="support">world</b>
</p>

<% image = image_tag("https://images.unsplash.com/photo-1534402503292-c02aeffd8bb3?ixlib=rb-0.3.5&s=b2ee2f68d77dde2c36939b5717bf9147&auto=format&fit=crop&w=500&q=60") %>

<%= image %>
<a href="https://facebook.com">
	Cliccami
	<%= image %>
</a>


<style>
  h1 {
    color: blue;
  }

  h1.support {
	  text-decoration: underline;
  }

  #ciao {
    font-family: 'Sedgwick Ave', cursive;
  }

  p {
    color: red;
    font-size: 14px;
  }
</style>

<script>
  // alert('Questo è fastidioso.');
</script>
